/* imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300&display=swap");

/* global */
* {
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 2rem;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: double;
}

/* navbar */
.nav-bar {
  margin-bottom: 2rem;
}
.nav-bar > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px #a4a4a4;
  padding: 1rem;
  border-radius: 1rem;
}
.primary-info {
  text-align: right;
}
.image-container > img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #a4a4a4;
}

/* main */
#exp-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px #a4a4a4;
  border-radius: 1rem;
}
#exp-section > h2 {
  text-align: center;
}
#Experience {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
#Experience > div {
  flex: 1;
}